.array-item {
  flex-direction: column;
}

.array-value:hover {
  transform: scale(1.1);
}

.array-value:hover + .array-idx {
  display: block;
}

.array-idx {
  display: none;
  color: gray;
  margin-top: 2px;
  user-select: none;
}
